# ==========================================
# Configurações do Ambiente / Permissões
# ==========================================
# Execute 'id $USER' no seu terminal para descobrir seu PUID e PGID
PUID=1000
PGID=1000
TZ=America/Sao_Paulo
UMASK=002

# ==========================================
# Caminhos de Armazenamento
# ==========================================
# Caminho absoluto da partição/disco onde ficarão os torrents e as bibliotecas de mídia
# Exemplo Linux: /mnt/storage/data ou /home/usuario/media/data
DATA_DIR=/mnt/storage/data

# Caminho onde os containers salvarão suas configurações persistentes e bancos SQLite
CONFIG_DIR=./config
